.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card img {
    border-radius: 10px 10px 0 0 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .padding {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .viewitem{
    margin-left:30px;
    padding:20px;
  }
  .updateitem{
    padding:20px;
  }
  .itemcatalog{
    background-color:#1b262c ;
    padding: 30px;
    margin-bottom: 10px;
  }
 