<div *ngIf="item">
    <div class="card">
     <img [src]="item.image" alt="image" class="card-img-top">
      <h5 class="card-header">Item Detail</h5>
      <div class="card-body">
        <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h5 class="card-title">Name: {{item.itemName}}</h5>
            <p><strong>Category Name:</strong> {{item.categoryName}}</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">  
          <div class="col-md-6">
            <p class="lead">Rs. {{item.price}}</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
              <button *ngIf="isLoggedIn == true" class="btn btn-success" type="button" (click)="onSave(item.itemId,item.price)">ADD TO CART</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-warning viewcart" type="button">VIEW</button>
            </div>
        </div>
      </div>
      </div>
    </div>
    <hr/>
  </div>