<div class="container-fluid ">
    <div class="row ">
        <div class="col-12">
            <div class="form-group form-inline">
                <div class="btn-group dropgroup">
                    <button type="button" class="btn btn-primary">Categories</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Electronics</a>
                      <a class="dropdown-item" href="#">Lifestyle</a>
                      <a class="dropdown-item" href="#">Fashion</a>
                      <a class="dropdown-item" href="#">Books</a>
                    </div>
                </div>&nbsp;
                <input type="text" class="form-control" id="searchStr" required [(ngModel)]="searchStr" name="searchStr" placeholder="Search Item Name">&nbsp;
                <a class="btn btn-outline-dark btnClick" (click)="onSubmit()">Search</a>
            </div>
        </div>
    </div>
</div>


  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of items">
        <div *ngIf="item">
            <div class="card">
             <img src="assets/team1.png" alt="" class="card-img-top">
              <h5 class="card-header">Item Detail</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="card-title">Name: {{item.itemName}}</h5>
                    <p class="lead">Category Name: {{item.categoryName}}</p>
                  </div>
                </div>
                <div class="row">  
                  <div class="col-md-6">
                    <p class="lead">Rs. {{item.price}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="container-fluid">
                    <div class="col">
                      <button class="btn btn-success" type="button" (click)="onSave(item.itemId,item.price)">ADD TO CART</button>
                    </div>
                    <div class="col">
                      <button class="btn btn-warning" type="button">VIEW</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr/>
          </div>
      </div>
    </div>
  </div>  -->

