<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-right">
                <img src="assets/lappy.png" alt="">
            </div>
            <div class="col-md-6 text-justify text-white">
                <h2 class="sell-content">Sell Your product online to crores of customers on eMart.in</h2>
                <button *ngIf="isLoggedIn!=true" routerLink="/login" routerLinkActive="active" type="button" class="btn btn-outline-warning" id="sell">Start Selling</button>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row text-justify">
        <div class="col-md-12">
            <hr>
            <h2>Why sell with eMart.in ?</h2>
            <hr>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h1>Crores</h1>
            <p>of Customers all over the world....!!!</p>
        </div>
        <div class="col-md-4">
            <h1>100%</h1>
            <p>of pincodes....!!!</p>
        </div>
        <div class="col-md-4">
            <h1>+65% of</h1>
            <p>crorepati sellers.....!!!</p>
        </div>
    </div>
</div>
<div id="advantages">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
            <div class="icon"><i class="fa fa-heart"></i></div>
            <h3><a href="#">We love our customers</a></h3>
            <p class="mb-0">We are known to provide best possible service ever</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
            <div class="icon"><i class="fa fa-tags"></i></div>
            <h3><a href="#">Best prices</a></h3>
            <p class="mb-0">You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
            <div class="icon"><i class="fa fa-thumbs-up"></i></div>
            <h3><a href="#">100% satisfaction guaranteed</a></h3>
            <p class="mb-0">Free returns on everything for 3 months.</p>
          </div>
        </div>
      </div>
      <!-- /.row-->
    </div>
    <!-- /.container-->
  </div>
  <div id="hot">
        <div class="box py-4">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h2 class="mb-0">Hot this week</h2>
            </div>
            </div>
        </div>
        </div>
  </div>
  <div class="box text-center">
    <div class="container">
      <div class="col-md-12">
        <h3 class="text-uppercase">From our blog</h3>
        <p class="lead mb-0">What's new in the world of ecommerce? <a href="blog.html">Check our blog!</a></p>
      </div>
    </div>
  </div>
  <div class="container blogs">
    <div class="col-md-12">
      <div id="blog-homepage" class="row">
        <div class="col-sm-6">
          <div class="post">
            <h4><a href="post.html">Fashion now</a></h4>
            <p class="author-category">By <a href="#">John Slim</a> in <a href="">Fashion and style</a></p>
            <hr>
            <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="post">
            <h4><a href="post.html">Who is who - example blog post</a></h4>
            <p class="author-category">By <a href="#">John Slim</a> in <a href="">About Minimal</a></p>
            <hr>
            <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
          </div>
        </div>
      </div>
      <!-- /#blog-homepage-->
    </div>
  </div>
  <div class="container-fluid seller-crumb">
      <h1 class="text-white text-center">Popular categories to sell online...</h1>
      <div class="row text-center">
          <div class="col-md-4 text-white">
            <p>Sell Books</p>
            <p>Sell Shoes</p>
          </div>
          <div class="col-md-4 text-white">
            <p>Sell Headphones</p>
            <p>Sell Watches</p>
          </div>
          <div class="col-md-4 text-white">
            <p>Sell Furniture</p>
            <p>Sell Tea</p>
          </div>
      </div>
  </div>